{% extends 'base.html' %}
{% block body %}

<div class="container"  >
    <div class="row" >
        {% for i in movie_list %}
        <div class="col-md-4" style="padding:2%">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top" src="{{i.img.url}}" height="200"  >
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
<!--                    <p class="card-text">{{i.desc}}.</p>-->
                    <a class="btn btn-primary" href="{% url 'movieapp:details' i.id %}">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}




